video {
	width: 100%;
	height: auto;
	border-style: none;
}

body {
	background-color: #333;
}

:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
	color: white;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		sans-serif;
	margin-left: 1rem;
}

h4 {
	margin-top: 2rem;
	margin-bottom: 0;
}

h5 {
	font-weight: 300;
	margin-top: 0.5rem;
}
