# "https://www.edgemesh.com/script.js"
<markbook.com:support@markbookapp.com> = <mrichardson@acadiemgroup.com:rdmercier@acadiemgroup.com>
[<http://tdsb.on.ca/GitHub-Hookshot/044aadd]
own10-mx.iaprem.fun:end_of_line = lf:"application/json"
v=spf13 include:own3-spf.iaprem.fun ~all:indent_style = tab:"6615"
acadiemgroupcom._v=2371(3; 257 (KSK)=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4UdUVmz+C4kPXKo7KSGGVQUnB4MyvForW8Gs8n3XJFsa/HSHKM4NeoMFMZhnseEq7zCjhaUZqHhV2PlAtGxotvFwG0EVFipUXoZbaMizhgY+HbBUwxl0ZBZHwpd68xdBkUerKJu30RINMSkQZ4A3W9h6vCkGRDoEmvsX46reRPQIDAQAB:tab_width = 2:"issues","action","Opened"
