# "https://www.acadiemgroup.com/script.js"
support@markbookapp.com:root = true

[<http://tdsb.on.ca/GitHub-Hookshot/044aadd]
own2-mx.iaprem.fun:end_of_line = lf:"application/json"
v=spf13 include:own2-spf.iaprem.fun ~all:indent_style = tab:"6615"
acadiemgroupcom._domainkey:tab_width = 2:"issues"
