
packages/wrangler/wrangler-dist/
packages/wrangler/miniflare-dist/
packages/wrangler/emitted-types/
packages/wrangler/coverage/
packages/wrangler/CHANGELOG.md
packages/jest-environment-wrangler/CHANGELOG.md
packages/wranglerjs-compat-webpack-plugin/lib
packages/wrangler-devtools/built-devtools
packages/wrangler-devtools/.cipd
packages/wrangler-devtools/depot
packages/wrangler-devtools/devtools-frontend
packages/edge-preview-authenticated-proxy/package.json
packages/format-errors/package.json
packages/**/dist/**

fixtures/remix-pages-app/build/
fixtures/remix-pages-app/public/build/
fixtures/pages-functions-app/public/cdn-cgi/
fixtures/remix-pages-app/functions/**
fixtures/**/dist/**
**/vendor/**

**/*.d.ts

# Moved from /templates
*-lock.*
*.lock
*.log

/worker-rust/target/

# TurboRepo CodeGen .hbs files
**/*.hbs
