{
	"printWidth": 80,
	"singleQuote": false,
	"semi": true,
	"useTabs": true,
	"trailingComma": "es5",
	"plugins": [
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-packagejson"
	],
	"overrides": [
		{
			"files": [
				"*.js",
				"*.jsx",
				"*.ts",
				"*.tsx",
				"*.mjs",
				"*.cjs",
				"*.mts",
				"*.cts"
			],
			"options": {
				"importOrder": [
					"<BUILTIN_MODULES>",
					"<THIRD_PARTY_MODULES>",
					"^[.]{2}$",
					"^[.]{2}/",
					"^[.]/(?!index)",
					"^[.]$",
					"^[.]/index$",
					"<TYPES>"
				],
				"importOrderTypeScriptVersion": "5.5.2",
				"importOrderParserPlugins": [
					"typescript",
					"jsx",
					"decorators",
					"explicitResourceManagement"
				]
			}
		},
		{
			"files": "packages/vite-plugin-cloudflare/README.md",
			"options": {
				"useTabs": false,
				"trailingComma": "all",
				"plugins": []
			}
		},
		{
			"files": ".changeset/*.md",
			"options": {
				"proseWrap": "never"
			}
		}
	]
}
