
packages/wrangler/wrangler-dist/
packages/wrangler/miniflare-dist/
packages/wrangler/emitted-types/
packages/wrangler/coverage/
packages/wrangler/CHANGELOG.md
packages/jest-environment-wrangler/CHANGELOG.md
packages/wranglerjs-compat-webpack-plugin/lib
packages/wrangler-devtools/built-devtools
packages/wrangler-devtools/.cipd
packages/wrangler-devtools/depot
packages/wrangler-devtools/devtools-frontend
packages/edge-preview-authenticated-proxy/package.json
packages/format-errors/package.json
packages/**/dist/**
packages/miniflare/dist-types/

fixtures/remix-pages-app/build/
fixtures/remix-pages-app/public/build/
fixtures/pages-functions-app/public/cdn-cgi/
fixtures/remix-pages-app/functions/**
fixtures/**/dist/**
**/vendor/**
**/.wrangler/**

**/*.d.ts

# Moved from /templates
*-lock.*
*.lock
*.log

/worker-rust/target/

# TurboRepo CodeGen .hbs files
**/*.hbs

# Miniflare shouldn't be formatted with the root `prettier` version
packages/miniflare
packages/vitest-pool-workers

# In the C3 templates, in particular framework templates, we want to be able to
# use any format that the framework authors prefer/use in their own templates,
# so let's ignore all the c3 template files, exlcuding the c3.ts ones
packages/create-cloudflare/templates/**/*.*
!packages/create-cloudflare/templates/**/c3.ts
