name = "{{project_name}}"
main = "src/index.ts"
compatibility_date = "2022-12-21"

[[ d1_databases ]]
binding = "DB"
database_name = "{{database_name}}"
database_id = "{{database_id}}"
preview_database_id = "{{database_preview_id}}"

[[queues.producers]]
  queue = "{{queue_name}}"
  binding = "QUEUE"

[[queues.consumers]]
  queue = "{{queue_name}}"
  max_batch_size = 10
  max_batch_timeout = 30
  max_retries = 10
  dead_letter_queue = "{{dlq_queue_name}}"

[triggers]
crons = ["0 0 * * *"]

[vars]
SITEMAP_URL = "{{sitemap_url}}"
