/* Variables */
:root {
	--gray-offset: rgba(0, 0, 0, 0.03);
	--gray-border: rgba(0, 0, 0, 0.15);
	--gray-light: rgba(0, 0, 0, 0.4);
	--gray-mid: rgba(0, 0, 0, 0.7);
	--gray-dark: rgba(0, 0, 0, 0.9);
	--body-color: var(--gray-mid);
	--headline-color: var(--gray-dark);
	--accent-color: #0066f0;
	--body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	--radius: 6px;
	--form-width: 600px;
}

/* Base */
* {
	box-sizing: border-box;
}
body {
	font-family: var(--body-font-family);
	font-size: 16px;
	color: var(--body-color);
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--body-color);
	margin-top: 2px;
	margin-bottom: 4px;
}
h1 {
	font-size: 27px;
	color: var(--headline-color);
}
h4 {
	font-weight: 500;
	font-size: 14px;
	color: var(--gray-light);
}

/* Layout */
.sr-root {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 980px;
	padding: 24px;
	align-content: center;
	justify-content: center;
	height: auto;
	min-height: 100vh;
	margin: 0 auto;
}
.sr-header {
	margin-bottom: 32px;
}
.sr-payment-summary {
	margin-bottom: 20px;
}
.sr-main,
.sr-content {
	display: flex;
	justify-content: center;
	height: 100%;
	align-self: center;
}
.sr-main {
	width: var(--form-width);
}
.sr-content {
	padding-left: 48px;
}
.sr-header__logo {
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
}
.sr-legal-text {
	color: var(--gray-light);
	text-align: center;
	font-size: 13px;
	line-height: 17px;
	margin-top: 12px;
}
.sr-field-error {
	color: var(--accent-color);
	text-align: left;
	font-size: 13px;
	line-height: 17px;
	margin-top: 12px;
}

/* Form */
.sr-form-row {
	margin: 16px 0;
}
label {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 8px;
	display: inline-block;
}

/* Inputs */
.sr-input,
.sr-select,
input[type="text"],
input[type="number"] {
	border: 1px solid var(--gray-border);
	border-radius: var(--radius);
	padding: 5px 12px;
	height: 44px;
	width: 100%;
	transition: box-shadow 0.2s ease;
	background: white;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #32325d;
}
.sr-input:focus,
input[type="text"]:focus,
button:focus,
.focused {
	box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
		0 0 0 4px rgba(50, 151, 211, 0.3);
	outline: none;
	z-index: 9;
}
.sr-input::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder {
	color: var(--gray-light);
}

/* Buttons and links */
button {
	background: var(--accent-color);
	border-radius: var(--radius);
	color: white;
	border: 0;
	padding: 12px 16px;
	margin-top: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.2s ease;
	display: block;
}
button:hover {
	filter: contrast(115%);
}
button:active {
	transform: translateY(0px) scale(0.98);
	filter: brightness(0.9);
}
button:disabled {
	opacity: 0.5;
	cursor: none;
}

.sr-payment-form button,
.fullwidth {
	width: 100%;
}

a {
	color: var(--accent-color);
	text-decoration: none;
	transition: all 0.2s ease;
}

a:hover {
	filter: brightness(0.8);
}

a:active {
	filter: brightness(0.5);
}

/* Responsiveness */
@media (max-width: 720px) {
	.sr-root {
		flex-direction: column;
		justify-content: flex-start;
		padding: 48px 20px;
		min-width: 320px;
	}

	.sr-header__logo {
		background-position: center;
	}

	.sr-payment-summary {
		text-align: center;
	}

	.sr-content {
		display: none;
	}

	.sr-main {
		width: 100%;
	}
}

:root {
	--accent-color: #f48120;
	--headline-color: var(--accent-color);
}

/* Custom */
.container {
	border: 1px solid #e8e8e8;
	border-radius: 6px;
	padding: 32px 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 400px;
}

.container .pasha-image-stack {
	margin-top: 20px;
}

.container:first-of-type {
	margin-right: 20px;
}

/* Animated form */

.sr-root {
	animation: 0.4s form-in;
	animation-fill-mode: both;
	animation-timing-function: ease;
}

@keyframes field-in {
	0% {
		opacity: 0;
		transform: translateY(8px) scale(0.95);
	}
	100% {
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}

@keyframes form-in {
	0% {
		opacity: 0;
		transform: scale(0.98);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

#submit {
	width: 100%;
}
