/*
Taken from cloudflare/cloudflare-docs, with slight modifications
*/
.code-block-tabs + .CodeBlock {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.CodeBlock.embed {
  border-radius: 0;
}
.code-block-tabs {
  --monospace-font-family: Menlo, 'SF Mono', 'Andale Mono', 'Roboto Mono',
    Monaco, monospace;
}
.CodeBlock {
  --html-font-size: 17px;
  --line-height: 1.5;
  --form-field-line-height: 1.3;
  --focus-size: 0.1875em;
  --button-top-padding: 0.55em;
  --button-bottom-padding: 0.65em;
  --button-horizontal-padding: 0.9em;
  --button-line-height: var(--form-field-line-height);
  --button-border-radius: 0.375em;
  --section-vertical-padding: 6em;
  --header-height: 4.5rem;
  --code-font-size: 0.9em;
  --inline-code-font-size: 0.85em;
  padding: 0px;
  line-height: var(--line-height);
}

.CodeBlock:not(:hover) .copy-button {
  display: none;
}
.CodeBlock,
.CodeBlock code {
  border: none;
}

.CodeBlock code {
  background-color: transparent;
}

@media (max-width: 1280px) {
  .CodeBlock {
    --html-font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .CodeBlock {
    --section-vertical-padding: 4em;
  }
}

@media (max-width: 414px) {
  .CodeBlock {
    --header-height: 4rem;
    --code-font-size: 0.8em;
    --inline-code-font-size: var(--code-font-size);
  }
}

.CodeBlock {
  --sans-serif-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --monospace-font-family: Menlo, 'SF Mono', 'Andale Mono', 'Roboto Mono',
    Monaco, monospace;
  --font-family: var(--sans-serif-font-family);
  --cloudflare-logo-gray-rgb: 64, 64, 65;
  --cloudflare-logo-orange-rgb: 243, 128, 32;
  --cloudflare-logo-light-orange-rgb: 248, 173, 76;
  --orange-rgb: var(--cloudflare-logo-orange-rgb);
  --orange: rgb(var(--orange-rgb));
  --orange-for-use-as-selection-color: #ef9530;
  --light-blue-rgb: 79, 140, 200;
  --light-blue: rgb(var(--light-blue-rgb));
  --blue-rgb: 0, 81, 127;
  --blue: rgb(var(--blue-rgb));
  --red-0: #430c15;
  --red-0-rgb: 67, 12, 21;
  --red-1: #711423;
  --red-1-rgb: 113, 20, 35;
  --red-2: #a01c32;
  --red-2-rgb: 160, 28, 50;
  --red-3: #bf223c;
  --red-3-rgb: 191, 34, 60;
  --red-4: #da304c;
  --red-4-rgb: 218, 48, 76;
  --red-5: #e35f75;
  --red-5-rgb: 227, 95, 117;
  --red-6: #ec93a2;
  --red-6-rgb: 236, 147, 162;
  --red-7: #f3bac3;
  --red-7-rgb: 243, 186, 195;
  --red-8: #f9dce1;
  --red-8-rgb: 249, 220, 225;
  --red-9: #fcf0f2;
  --red-9-rgb: 252, 240, 242;
  --orange-0: #341a04;
  --orange-0-rgb: 52, 26, 4;
  --orange-1: #5b2c06;
  --orange-1-rgb: 91, 44, 6;
  --orange-2: #813f09;
  --orange-2-rgb: 129, 63, 9;
  --orange-3: #a24f0b;
  --orange-3-rgb: 162, 79, 11;
  --orange-4: #b6590d;
  --orange-4-rgb: 182, 89, 13;
  --orange-5: #e06d10;
  --orange-5-rgb: 224, 109, 16;
  --orange-6: #f4a15d;
  --orange-6-rgb: 244, 161, 93;
  --orange-7: #f8c296;
  --orange-7-rgb: 248, 194, 150;
  --orange-8: #fbdbc1;
  --orange-8-rgb: 251, 219, 193;
  --orange-9: #fdf1e7;
  --orange-9-rgb: 253, 241, 231;
  --gold-0: #2c1c02;
  --gold-0-rgb: 44, 28, 2;
  --gold-1: #573905;
  --gold-1-rgb: 87, 57, 5;
  --gold-2: #744c06;
  --gold-2-rgb: 116, 76, 6;
  --gold-3: #8e5c07;
  --gold-3-rgb: 142, 92, 7;
  --gold-4: #a26a09;
  --gold-4-rgb: 162, 106, 9;
  --gold-5: #c7820a;
  --gold-5-rgb: 199, 130, 10;
  --gold-6: #f4a929;
  --gold-6-rgb: 244, 169, 41;
  --gold-7: #f8cd81;
  --gold-7-rgb: 248, 205, 129;
  --gold-8: #fbe2b6;
  --gold-8-rgb: 251, 226, 182;
  --gold-9: #fdf3e2;
  --gold-9-rgb: 253, 243, 226;
  --green-0: #0f2417;
  --green-0-rgb: 15, 36, 23;
  --green-1: #1c422b;
  --green-1-rgb: 28, 66, 43;
  --green-2: #285d3d;
  --green-2-rgb: 40, 93, 61;
  --green-3: #31724b;
  --green-3-rgb: 49, 114, 75;
  --green-4: #398557;
  --green-4-rgb: 57, 133, 87;
  --green-5: #46a46c;
  --green-5-rgb: 70, 164, 108;
  --green-6: #79c698;
  --green-6-rgb: 121, 198, 152;
  --green-7: #b0ddc2;
  --green-7-rgb: 176, 221, 194;
  --green-8: #d8eee1;
  --green-8-rgb: 216, 238, 225;
  --green-9: #eff8f3;
  --green-9-rgb: 239, 248, 243;
  --cyan-0: #0c2427;
  --cyan-0-rgb: 12, 36, 39;
  --cyan-1: #164249;
  --cyan-1-rgb: 22, 66, 73;
  --cyan-2: #1d5962;
  --cyan-2-rgb: 29, 89, 98;
  --cyan-3: #26727e;
  --cyan-3-rgb: 38, 114, 126;
  --cyan-4: #2b818e;
  --cyan-4-rgb: 43, 129, 142;
  --cyan-5: #35a0b1;
  --cyan-5-rgb: 53, 160, 177;
  --cyan-6: #66c3d1;
  --cyan-6-rgb: 102, 195, 209;
  --cyan-7: #a5dce4;
  --cyan-7-rgb: 165, 220, 228;
  --cyan-8: #d0edf1;
  --cyan-8-rgb: 208, 237, 241;
  --cyan-9: #e9f7f9;
  --cyan-9-rgb: 233, 247, 249;
  --blue-0: #0c2231;
  --blue-0-rgb: 12, 34, 49;
  --blue-1: #163d57;
  --blue-1-rgb: 22, 61, 87;
  --blue-2: #1f567a;
  --blue-2-rgb: 31, 86, 122;
  --blue-3: #276d9b;
  --blue-3-rgb: 39, 109, 155;
  --blue-4: #2c7cb0;
  --blue-4-rgb: 44, 124, 176;
  --blue-5: #479ad1;
  --blue-5-rgb: 71, 154, 209;
  --blue-6: #7cb7de;
  --blue-6-rgb: 124, 183, 222;
  --blue-7: #add2eb;
  --blue-7-rgb: 173, 210, 235;
  --blue-8: #d6e9f5;
  --blue-8-rgb: 214, 233, 245;
  --blue-9: #ebf4fa;
  --blue-9-rgb: 235, 244, 250;
  --indigo-0: #181e34;
  --indigo-0-rgb: 24, 30, 52;
  --indigo-1: #2c365e;
  --indigo-1-rgb: 44, 54, 94;
  --indigo-2: #404e88;
  --indigo-2-rgb: 64, 78, 136;
  --indigo-3: #5062aa;
  --indigo-3-rgb: 80, 98, 170;
  --indigo-4: #6373b6;
  --indigo-4-rgb: 99, 115, 182;
  --indigo-5: #8794c7;
  --indigo-5-rgb: 135, 148, 199;
  --indigo-6: #a5aed5;
  --indigo-6-rgb: 165, 174, 213;
  --indigo-7: #c8cde5;
  --indigo-7-rgb: 200, 205, 229;
  --indigo-8: #e0e3f0;
  --indigo-8-rgb: 224, 227, 240;
  --indigo-9: #f1f3f8;
  --indigo-9-rgb: 241, 243, 248;
  --violet-0: #2d1832;
  --violet-0-rgb: 45, 24, 50;
  --violet-1: #502b5a;
  --violet-1-rgb: 80, 43, 90;
  --violet-2: #753f83;
  --violet-2-rgb: 117, 63, 131;
  --violet-3: #8e4c9e;
  --violet-3-rgb: 142, 76, 158;
  --violet-4: #9f5bb0;
  --violet-4-rgb: 159, 91, 176;
  --violet-5: #b683c3;
  --violet-5-rgb: 182, 131, 195;
  --violet-6: #c9a2d2;
  --violet-6-rgb: 201, 162, 210;
  --violet-7: #dbc1e1;
  --violet-7-rgb: 219, 193, 225;
  --violet-8: #ebddee;
  --violet-8-rgb: 235, 221, 238;
  --violet-9: #f7f1f8;
  --violet-9-rgb: 247, 241, 248;
  --gray-00-rgb: 23, 23, 24;
  --gray-00: rgb(var(--gray-00-rgb));
  --gray-0F-rgb: 25, 27, 29;
  --gray-0F: rgb(var(--gray-0F-rgb));
  --gray-0-rgb: 29, 31, 32;
  --gray-0: rgb(var(--gray-0-rgb));
  --gray-05-rgb: 36, 38, 40;
  --gray-05: rgb(var(--gray-05-rgb));
  --gray-1-rgb: 54, 57, 58;
  --gray-1: rgb(var(--gray-1-rgb));
  --gray-2-rgb: 78, 82, 85;
  --gray-2: rgb(var(--gray-2-rgb));
  --gray-3-rgb: 98, 103, 106;
  --gray-3: rgb(var(--gray-3-rgb));
  --gray-4-rgb: 114, 119, 123;
  --gray-4: rgb(var(--gray-4-rgb));
  --gray-5-rgb: 146, 151, 155;
  --gray-5: rgb(var(--gray-5-rgb));
  --gray-6-rgb: 183, 187, 189;
  --gray-6: rgb(var(--gray-6-rgb));
  --gray-7-rgb: 213, 215, 216;
  --gray-7: rgb(var(--gray-7-rgb));
  --gray-8-rgb: 234, 235, 235;
  --gray-8: rgb(var(--gray-8-rgb));
  --gray-9-rgb: 243, 243, 244;
  --gray-9: rgb(var(--gray-9-rgb));
  --gray-A-rgb: 247, 247, 248;
  --gray-A: rgb(var(--gray-A-rgb));
  --code-gray: #a7a7a3;
  --code-red: #ed8978;
  --code-orange: #fba056;
  --code-gold: #fdda68;
  --code-green: #57c78f;
  --code-blue: #78c0ed;
  --code-cyan: #71e4f4;
  --code-indigo: #7b99ea;
  --code-lilac: #d188dd;
  --code-violet: #a68adb;
  --code-gray-light-theme: var(--gray-3);
  --code-red-light-theme: #8f1500;
  --code-orange-light-theme: #b35000;
  --code-gold-light-theme: #b35300;
  --code-green-light-theme: #007a3d;
  --code-blue-light-theme: #00588f;
  --code-cyan-light-theme: #006c7a;
  --code-indigo-light-theme: #00268f;
  --code-lilac-light-theme: #7c008f;
  --code-violet-light-theme: #32008f;
  --diff-indicator-red: var(--code-red);
  --diff-indicator-green: var(--code-green);
  --diff-indicator-red-light-theme: #eb0052;
  --diff-indicator-green-light-theme: #0c6;
}

.CodeBlock.light {
  --color-rgb: var(--gray-0-rgb);
  --color: rgb(var(--color-rgb));
  --background-color-rgb: 255, 255, 255;
  --background-color: rgb(var(--background-color-rgb));
  --selection-background-color: var(--orange-for-use-as-selection-color);
  --selection-color: #fff;
  --code-block-color: #fff;
  --code-block-background-color: var(--color);
  --code-block-background-color-light-theme: var(--gray-9);
  --code-block-scrollbar-color: hsla(0, 0%, 100%, 0.25);
  --tab-background-color: var(--gray-9);
  --shadow-color-rgb: var(--color-rgb);
  --section-tiger-stripe-background-color: var(--gray-9);
  --deemphasized-color: var(--gray-1);
}
.CodeBlock-is-light-in-light-theme.light {
  --code-block-background-color: var(--code-block-background-color-light-theme);
  --code-block-color: currentColor;
  --code-block-scrollbar-color: var(--gray-6);
  --code-gray: var(--code-gray-light-theme);
  --code-red: var(--code-red-light-theme);
  --code-orange: var(--code-orange-light-theme);
  --code-gold: var(--code-gold-light-theme);
  --code-green: var(--code-green-light-theme);
  --code-blue: var(--code-blue-light-theme);
  --code-cyan: var(--code-cyan-light-theme);
  --code-indigo: var(--code-indigo-light-theme);
  --code-lilac: var(--code-lilac-light-theme);
  --code-violet: var(--code-violet-light-theme);
  --diff-indicator-red: var(--diff-indicator-red-light-theme);
  --diff-indicator-green: var(--diff-indicator-green-light-theme);
}

.CodeBlock.dark {
  --color-rgb: 255, 255, 255;
  --color: rgb(var(--color-rgb));
  --background-color-rgb: var(--gray-0-rgb);
  --background-color: rgb(var(--background-color-rgb));
  --selection-background-color: #ff9e40;
  --selection-color: rgb(var(--color-rgb));
  --code-block-color: rgb(var(--color-rgb));
  --code-block-background-color: var(--gray-05);
  --code-block-scrollbar-color: hsla(0, 0%, 100%, 0.25);
  --tab-background-color: var(--gray-1);
  --shadow-color-rgb: 0, 0, 0;
  --section-tiger-stripe-background-color: var(--gray-05);
  --deemphasized-color: var(--gray-7);
  color-scheme: dark;
}

.CodeBlock {
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: var(--monospace-font-family);
  font-size: var(--code-font-size);
  margin: 0;
  --padding-vertical: 0.9em;
  --padding-horizontal: 1.25em;
  --border-radius: 0.5em;
  border-radius: var(--border-radius);
  background: var(--code-block-background-color);
  color: var(--code-block-color);
  --outdent: 0rem;
  margin-left: calc(var(--outdent) * 0);
  width: calc(100% + var(--outdent) * 2);
  max-width: calc(100% + var(--outdent) * 0);
  cursor: text;
}

.CodeBlock > code {
  display: block;
  padding: var(--padding-vertical) var(--padding-horizontal);
  font-family: inherit;
  cursor: default;
  tab-size: 2;
}

.CodeBlock > code > * {
  cursor: text;
}

.CodeBlock > code::-webkit-scrollbar {
  height: 14px;
}

.CodeBlock > code::-webkit-scrollbar-track-piece {
  background: transparent;
  border-radius: var(--border-radius);
}

.CodeBlock > code::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  box-shadow: inset 0 1px 1px rgba(var(--background-color-rgb), 0.1);
  background-color: var(--code-block-scrollbar-color);
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: calc(var(--border-radius) * 20);
}

.CodeBlock-is-one-liner > code {
  border-radius: calc(var(--border-radius) * 0.625);
  white-space: nowrap;
}

.CodeBlock-is-one-liner > code,
.CodeBlock-scrolls-horizontally > code {
  word-break: normal;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.CodeBlock-scrolls-horizontally > code {
  white-space: pre;
}

.CodeBlock-is-hero {
  --padding-vertical: 1.25em;
  --padding-horizontal: 1.5em;
  box-shadow: 0 1px 1px rgba(var(--shadow-color-rgb), 0.075),
    0 0.1333em 0.26667em rgba(var(--shadow-color-rgb), 0.075),
    0 0.2222em 0.66667em 0 rgba(var(--shadow-color-rgb), 0.075),
    0 0.4444em 1.3333em 0 rgba(var(--shadow-color-rgb), 0.075);
}

.CodeBlock--filename,
.CodeBlock--header {
  display: block;
  background: rgba(var(--color-rgb), 0.05);
  box-shadow: 0 1px rgba(var(--shadow-color-rgb), 0.12);
  padding: 0.4em var(--padding-horizontal);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  opacity: 0.9;
  font-weight: 700;
}

.CodeBlock--header {
  font-family: var(--font-family);
}

.CodeBlock--filename {
  padding-top: 0.45em;
  font-size: 0.9em;
  padding-left: calc(var(--padding-horizontal) / 0.9);
  padding-right: calc(var(--padding-horizontal) / 0.9);
}

.CodeBlock b {
  font-weight: 400;
}

.CodeBlock u {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  text-decoration: none;
  transition: opacity 0.25s ease;
}

.CodeBlock:hover u,
.CodeBlock[has-selection-contained-within] u {
  opacity: 0.25;
}

.CodeBlock.CodeBlock-with-rows.CodeBlock-scrolls-horizontally > code {
  display: block;
}

.CodeBlock.CodeBlock-with-rows,
.CodeBlock.CodeBlock-with-rows > code {
  white-space: normal;
}

.CodeBlock-with-rows > code {
  padding-left: 0;
  padding-right: 0;
}

.CodeBlock-with-rows .CodeBlock--rows {
  display: block;
}

.CodeBlock-with-rows .CodeBlock--rows-content {
  display: inline-block;
  min-width: 100%;
}

.CodeBlock-with-rows .CodeBlock--row {
  position: relative;
  display: block;
  width: 100%;
}

.CodeBlock-with-rows .CodeBlock--row-content {
  display: block;
  white-space: pre-wrap;
  padding: 0 var(--padding-horizontal);
}

.CodeBlock-with-rows.CodeBlock-scrolls-horizontally .CodeBlock--row-content {
  white-space: pre;
}

.CodeBlock--row-is-highlighted {
  background: rgba(var(--color-rgb), 0.05);
  box-shadow: inset 2px 0 rgba(var(--color-rgb), 0.3);
}

.CodeBlock--row-diff-add {
  --row-diff-background-color: rgba(var(--color-rgb), 0.05);
  background: var(--row-diff-background-color);
}

.CodeBlock--row-diff-remove {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  text-decoration: none;
}

.CodeBlock-with-rows .CodeBlock--row-diff-add .CodeBlock--row-indicator,
.CodeBlock-with-rows .CodeBlock--row-diff-remove .CodeBlock--row-indicator {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  display: flex;
  border-left: 0.125em solid;
  --width: 0.75em;
  width: var(--width);
  margin-right: calc(var(--width) * -1);
  background: linear-gradient(
      90deg,
      var(--row-diff-background-color),
      transparent
    ),
    linear-gradient(90deg, var(--code-block-background-color), transparent);
}

.CodeBlock-with-rows .CodeBlock--row-diff-add .CodeBlock--row-indicator {
  border-left-color: var(--diff-indicator-green);
}

.CodeBlock-with-rows .CodeBlock--row-diff-remove .CodeBlock--row-indicator {
  border-left-color: var(--diff-indicator-red);
}

.CodeBlock-with-rows .CodeBlock--word-remove {
  opacity: 0.5;
  position: relative;
}

.CodeBlock-with-rows .CodeBlock--word-remove:after {
  content: '';
  display: block;
  position: absolute;
  top: 0.125em;
  right: -0.5em;
  bottom: 0;
  left: -0.5em;
  height: 1px;
  margin-top: auto;
  margin-bottom: auto;
  background: linear-gradient(
    90deg,
    rgba(var(--color-rgb), 0),
    rgba(var(--color-rgb), 0) 1em,
    rgba(var(--color-rgb), 0.5) 2em,
    rgba(var(--color-rgb), 0.5) calc(100% - 2em),
    rgba(var(--color-rgb), 0) calc(100% - 0.5em),
    rgba(var(--color-rgb), 0)
  );
}

.CodeBlock--token-punctuation,
.CodeBlock--token-template-string.CodeBlock--token-interpolation {
  color: inherit;
}

.CodeBlock--token-block-comment,
.CodeBlock--token-cdata,
.CodeBlock--token-comment,
.CodeBlock--token-doctype,
.CodeBlock--token-prolog {
  font-style: italic;
  color: var(--code-gray);
}

.CodeBlock--token-keyword,
.CodeBlock--token-operator,
.CodeBlock--token-template-string.CodeBlock--token-interpolation.CodeBlock--token-interpolation-punctuation {
  color: var(--code-red);
}

.CodeBlock--token-class,
.CodeBlock--token-class-name,
.CodeBlock--token-function,
.CodeBlock--token-function-name,
.CodeBlock--token-template-string.CodeBlock--token-interpolation.CodeBlock--token-function {
  color: var(--code-green);
}

.CodeBlock--token-constant,
.CodeBlock--token-symbol,
.CodeBlock--token-template-string.CodeBlock--token-interpolation.CodeBlock--token-interpolation-constant {
  color: var(--code-indigo);
}

.CodeBlock--token-arrow,
.CodeBlock--token-declaration-keyword {
  color: var(--code-cyan);
}

.CodeBlock--token-function-parameter,
.CodeBlock--token-parameter {
  font-style: italic;
  color: var(--code-lilac);
}

.CodeBlock--token-boolean,
.CodeBlock--token-builtin,
.CodeBlock--token-method,
.CodeBlock--token-null-undefined,
.CodeBlock--token-number {
  color: var(--code-violet);
}

.CodeBlock--token-api {
  color: var(--code-orange);
}

.CodeBlock--token-char,
.CodeBlock--token-object-property,
.CodeBlock--token-regex,
.CodeBlock--token-string,
.CodeBlock--token-template-string {
  color: var(--code-gold);
}

.CodeBlock--token-bold,
.CodeBlock--token-important {
  font-weight: 700;
}

.CodeBlock--token-italic {
  font-style: italic;
}

.CodeBlock--token-deleted,
.CodeBlock--token-namespace {
  color: var(--code-red);
}

.CodeBlock--token-entity {
  color: var(--code-blue);
  cursor: help;
}

.CodeBlock--token-inserted {
  color: var(--code-green);
}

.CodeBlock--token-link,
.CodeBlock--token-url {
  color: var(--code-violet);
}

.CodeBlock--token-link.CodeBlock--token-content,
.CodeBlock--token-url.CodeBlock--token-content {
  color: inherit;
}

.CodeBlock--token-tag {
  color: var(--code-red);
}

.CodeBlock--token-tag.CodeBlock--token-punctuation {
  color: inherit;
}

.CodeBlock--token-tag.CodeBlock--token-attr-name {
  color: var(--code-green);
}

.CodeBlock--token-tag.CodeBlock--token-attr-name
  + .CodeBlock--token-punctuation {
  color: inherit;
}

.CodeBlock--token-tag.CodeBlock--token-attr-value {
  color: var(--code-gold);
}

.CodeBlock--language-css.CodeBlock--token-plain,
.CodeBlock--language-css.CodeBlock--token-property,
.CodeBlock--language-css.CodeBlock--token-style,
.CodeBlock--language-css .CodeBlock--token-plain,
.CodeBlock--language-css .CodeBlock--token-property {
  color: var(--code-blue);
}

.CodeBlock--language-css.CodeBlock--token-style.CodeBlock--token-punctuation {
  color: inherit;
}

.CodeBlock--language-css.CodeBlock--token-selector,
.CodeBlock--language-css .CodeBlock--token-selector {
  color: var(--code-red);
}

.CodeBlock--language-css.CodeBlock--token-attribute,
.CodeBlock--language-css.CodeBlock--token-class,
.CodeBlock--language-css .CodeBlock--token-attribute,
.CodeBlock--language-css .CodeBlock--token-class {
  color: var(--code-green);
}

.CodeBlock--language-css.CodeBlock--token-function,
.CodeBlock--language-css .CodeBlock--token-function {
  color: var(--code-lilac);
}

.CodeBlock--language-css.CodeBlock--token-variable,
.CodeBlock--language-css .CodeBlock--token-variable {
  color: var(--code-violet);
}

.CodeBlock--language-css.CodeBlock--token-attribute.CodeBlock--token-value,
.CodeBlock--language-css .CodeBlock--token-attribute.CodeBlock--token-value {
  color: var(--code-gold);
}

.CodeBlock--language-css.CodeBlock--token-color,
.CodeBlock--language-css .CodeBlock--token-color {
  color: var(--code-violet);
}

.CodeBlock--language-css.CodeBlock--token-attribute.CodeBlock--token-punctuation,
.CodeBlock--language-css
  .CodeBlock--token-attribute.CodeBlock--token-punctuation {
  color: inherit;
}

.CodeBlock--language-css.CodeBlock--token-atrule.CodeBlock--token-rule,
.CodeBlock--language-css.CodeBlock--token-attribute.CodeBlock--token-operator,
.CodeBlock--language-css.CodeBlock--token-important,
.CodeBlock--language-css.CodeBlock--token-unit,
.CodeBlock--language-css .CodeBlock--token-atrule.CodeBlock--token-rule,
.CodeBlock--language-css .CodeBlock--token-attribute.CodeBlock--token-operator,
.CodeBlock--language-css .CodeBlock--token-important,
.CodeBlock--language-css .CodeBlock--token-unit {
  color: var(--code-red);
}

.CodeBlock--language-css.CodeBlock--token-pseudo-class,
.CodeBlock--language-css.CodeBlock--token-pseudo-element,
.CodeBlock--language-css .CodeBlock--token-pseudo-class,
.CodeBlock--language-css .CodeBlock--token-pseudo-element {
  color: var(--code-violet);
}

.CodeBlock--language-markdown .CodeBlock--token-header,
.CodeBlock--language-markdown .CodeBlock--token-title {
  color: var(--code-orange);
}

.CodeBlock--language-markdown .CodeBlock--token-list {
  color: var(--code-red);
}

.CodeBlock--language-markdown .CodeBlock--token-blockquote {
  color: var(--code-blue);
}

.CodeBlock--language-markdown .CodeBlock--token-code {
  color: var(--code-green);
}

.CodeBlock--language-markdown .CodeBlock--token-hr {
  color: var(--code-gold);
}

.CodeBlock--language-sh .CodeBlock--token-directory {
  color: var(--code-orange);
}

.CodeBlock--language-sh .CodeBlock--token-prompt {
  color: var(--code-orange);
  opacity: 0.7;
}

.CodeBlock--language-sh .CodeBlock--token-value {
  color: var(--code-cyan);
}

.CodeBlock--language-sh .CodeBlock--token-success {
  color: var(--code-green);
}

.CodeBlock--language-sh .CodeBlock--token-plain {
  color: var(--code-gray);
}

.CodeBlock--language-sh .CodeBlock--token-plain,
.CodeBlock--language-sh .CodeBlock--token-unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  text-decoration: none;
  transition: opacity 0.25s ease;
}

.CodeBlock--language-sh:hover .CodeBlock--token-plain,
.CodeBlock--language-sh:hover .CodeBlock--token-unselectable,
.CodeBlock--language-sh[has-selection-contained-within] .CodeBlock--token-plain,
.CodeBlock--language-sh[has-selection-contained-within]
  .CodeBlock--token-unselectable {
  opacity: 0.25;
}

.CodeBlock--row
  > .CodeBlock--row-indicator:empty
  + .CodeBlock--row-content
  > .CodeBlock--token-plain:empty
  + .CodeBlock--token-doc-comment.CodeBlock--token-comment:empty:after,
.CodeBlock--row
  > .CodeBlock--row-indicator:empty
  + .CodeBlock--row-content
  > .CodeBlock--token-table.CodeBlock--token-table-data-rows:empty
  + .CodeBlock--token-plain:empty:after {
  content: ' ';
}