name: "C3 - Generate changesets for dependabot PRs"
on:
  pull_request_target:
    paths:
      - "packages/create-cloudflare/src/frameworks/package.json"

permissions:
  contents: write

jobs:
  generate-changeset:
    runs-on: ubuntu-22.04
    if: |
      github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
      - name: Configure Git
        run: |
          git config --global user.email wrangler@cloudflare.com
          git config --global user.name 'Wrangler automated PR updater'

      - name: Generate C3 changesets
        # Keep the final param (the changeset prefix: `c3-frameworks-update`) in sync with the filter in the `.github/workflows/c3-e2e-dependabot.yml` workflow.
        run: node -r esbuild-register tools/dependabot/generate-dependabot-pr-changesets.ts ${{ github.event.number }} create-cloudflare packages/create-cloudflare/src/frameworks/package.json c3-frameworks-update
