# Runs c3 e2e tests for quarantined frameworks on merges to main

name: C3 E2E (Quarantine)
on:
  push:
    branches:
      - main
    paths:
      - packages/create-cloudflare/**

jobs:
  e2e:
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.pm.name }}-${{ matrix.pm.version }}
      cancel-in-progress: true
    name: ${{ format('E2E (quarantined) ({0}@{1} on {2})', matrix.pm.name, matrix.pm.version, matrix.os) }}
    if: github.repository_owner == 'cloudflare'
    strategy:
      matrix:
        os: [ubuntu-latest]
        pm:
          [
            { name: npm, version: "0.0.0" },
            { name: pnpm, version: "9.12.0" },
            { name: bun, version: "1.0.3" },
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
        with:
          turbo-api: ${{ secrets.TURBO_API }}
          turbo-team: ${{ secrets.TURBO_TEAM }}
          turbo-token: ${{ secrets.TURBO_TOKEN }}
          turbo-signature: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}

      - name: E2E Tests
        uses: ./.github/actions/run-c3-e2e
        with:
          packageManager: ${{ matrix.pm.name}}
          packageManagerVersion: ${{ matrix.pm.version }}
          quarantine: true
          accountId: ${{ secrets.C3_TEST_CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.C3_TEST_CLOUDFLARE_API_TOKEN }}
          saveDiffs: false
