# Runs c3 e2e tests on pull requests with c3 changes

name: C3 E2E Tests
on:
  pull_request:
    paths:
      - packages/create-cloudflare/**
env:
  node-version: 18.17.1
  bun-version: 1.0.3
jobs:
  e2e:
    timeout-minutes: 45
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.pm }}
      cancel-in-progress: true
    name: ${{ format('E2E ({0} on {1})', matrix.pm, matrix.os) }}
    if: github.repository_owner == 'cloudflare' && github.event.pull_request.user.login != 'dependabot[bot]'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        pm: [npm, pnpm, bun, yarn]
        # include a single windows test with pnpm
        include:
          - os: windows-latest
            pm: pnpm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: E2E Tests
        uses: ./.github/actions/run-c3-e2e
        env:
          NPM_PUBLISH_TOKEN: NOT_USED
        with:
          package-manager: ${{ matrix.pm }}
          quarantine: false
          accountId: ${{ secrets.C3_TEST_CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.C3_TEST_CLOUDFLARE_API_TOKEN }}
