# Runs the C3 e2e tests on dependabot PRs

name: C3 E2E Tests (Dependabot)

on:
  pull_request:
    paths:
      - .changeset/c3-frameworks-update-*.md

env:
  bun-version: 1.0.3

jobs:
  get-dependabot-bumped-framework:
    name: "Get bumped framework (dependabot-only)"
    runs-on: ubuntu-latest
    outputs:
      bumped-framework-cli: ${{ steps.detect.outputs.result }}
    if: |
      github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: detect-bumped-framework
        id: detect
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            const getBumpedFrameworkCli = require('.github/get-c3-dependabot-bumped-framework.cjs');
            return getBumpedFrameworkCli();

  # For dependabot versioning PRs we only want to run the e2es for the specifically bumped
  # framework (this is both for optimization and in order to reduce unnecessary flakiness)
  e2e-only-dependabot-bumped-framework:
    # Note: please keep this job in sync with the e2e one
    #       in .github/workflows/c3-e2e.yml
    needs: [get-dependabot-bumped-framework]
    name: ${{ format('Run tests for {0}@{1} on {2}', matrix.pm.name, matrix.pm.version, matrix.os) }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        pm:
          [
            { name: npm, version: "0.0.0" },
            { name: pnpm, version: "9.12.0" },
            { name: bun, version: "1.0.3" },
            { name: yarn, version: "1.0.0" },
          ]
        # include a single windows test with pnpm
        include:
          - os: windows-latest
            pm: { name: pnpm, version: "9.12.0" }
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies
        with:
          turbo-api: ${{ secrets.TURBO_API }}
          turbo-team: ${{ secrets.TURBO_TEAM }}
          turbo-token: ${{ secrets.TURBO_TOKEN }}
          turbo-signature: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}

      - name: E2E Tests
        uses: ./.github/actions/run-c3-e2e
        with:
          packageManager: ${{ matrix.pm.name }}
          packageManagerVersion: ${{ matrix.pm.version }}
          framework: ${{ needs.get-dependabot-bumped-framework.outputs.bumped-framework-cli }}
          accountId: ${{ secrets.C3_TEST_CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.C3_TEST_CLOUDFLARE_API_TOKEN }}
          saveDiffs: false
