name: Handle Changesets

on:
  push:
    branches:
      - main

jobs:
  release:
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Handle Changesets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          # See https://github.com/changesets/action/issues/187
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 8.8.0

      - name: Use Node.js 16.18
        uses: actions/setup-node@v3
        with:
          node-version: 16.18
          cache: "pnpm"

      - name: Install NPM Dependencies
        run: pnpm install --frozen-lockfile

      - name: Check the changesets
        run: node -r esbuild-register tools/deployments/validate-changesets.ts

      - name: "Configure turbo repo cache environment variables"
        run: |
          touch .env
          echo TURBO_API=${{ secrets.TURBO_API }} >> .env
          echo TURBO_TEAM=${{ secrets.TURBO_TEAM }} >> .env
          echo TURBO_TOKEN=${{ secrets.TURBO_TOKEN }} >> .env
          echo TURBO_REMOTE_CACHE_SIGNATURE_KEY=${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }} >> .env

      - name: Run builds
        run: pnpm run build
        env:
          CI_OS: ${{ runner.os }}

      - name: Create Version PR or Publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          version: node .github/changeset-version.js
          publish: pnpm exec changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
          ALGOLIA_PUBLIC_KEY: ${{ secrets.ALGOLIA_PUBLIC_KEY }}
          SENTRY_DSN: "https://9edbb8417b284aa2bbead9b4c318918b@sentry10.cfdata.org/583"

          NODE_ENV: "production"
          # This is the "production" key for sparrow analytics.
          # Include this here because this step will rebuild Wrangler and needs to have this available
          SPARROW_SOURCE_KEY: "50598e014ed44c739ec8074fdc16057c"

      - name: Deploy non-NPM Packages
        run: node -r esbuild-register tools/deployments/deploy-non-npm-packages.ts
        env:
          PUBLISHED_PACKAGES: ${{ steps.changesets.outputs.publishedPackages }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          WORKERS_NEW_CLOUDFLARE_ACCOUNT_ID: ${{ secrets.WORKERS_NEW_CLOUDFLARE_ACCOUNT_ID }}
          WORKERS_NEW_CLOUDFLARE_API_TOKEN: ${{ secrets.WORKERS_NEW_CLOUDFLARE_API_TOKEN }}
