name: Create Pull Request Prerelease

on: pull_request

jobs:
  build:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Build & Publish a Prerelease to the Adhoc Registry
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 16.13
        uses: actions/setup-node@v3
        with:
          node-version: 16.13
          cache: "npm" # cache ~/.npm in case 'npm ci' needs to run

      - name: Install workerd Dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update
          sudo apt-get install -y libc++1

      - name: Install NPM Dependencies
        run: npm ci

      - name: Modify package.json version
        run: node .github/version-script.js

      - name: Build
        run: npm run build
        env:
          NODE_ENV: "production"

      - name: Pack wrangler
        run: npm pack
        working-directory: packages/wrangler

      - name: Pack @cloudflare/pages-shared
        run: npm pack
        working-directory: packages/pages-shared

      - name: Upload packaged wrangler artifact
        uses: actions/upload-artifact@v2
        with:
          name: npm-package-wrangler-${{ github.event.number }} # encode the PR number into the artifact name
          path: packages/wrangler/wrangler-*.tgz

      - name: Upload packaged @cloudflare/pages-shared artifact
        uses: actions/upload-artifact@v2
        with:
          name: npm-package-cloudflare-pages-shared-${{ github.event.number }} # encode the PR number into the artifact name
          path: packages/pages-shared/cloudflare-pages-shared-*.tgz
