name: Create Pull Request Prerelease

on: pull_request

jobs:
  build:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Build & Publish a Prerelease to the Adhoc Registry
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 16.7
        uses: actions/setup-node@v3
        with:
          node-version: 16.7
          cache: "npm" # cache ~/.npm in case 'npm ci' needs to run

      - uses: actions/cache@v3
        id: node-modules-cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install NPM Dependencies
        if: steps.node-modules-cache.outputs.cache-hit != 'true' || runner.os == 'Windows'
        run: npm ci

      - name: Modify package.json version
        run: node .github/version-script.js

      - name: Build
        run: npm run build
        env:
          NODE_ENV: "production"

      - name: Pack
        run: npm pack
        working-directory: packages/wrangler

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v2
        with:
          name: npm-package-wrangler-${{ github.event.number }} # encode the PR number into the artifact name
          path: packages/wrangler/wrangler-*.tgz
