on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-pnpm-dependencies

      - name: Build
        run: pnpm run build

      - name: Deploy to Pages
        run: pnpm --filter ${{ inputs.package }} run deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: "e35fd947284363a46fd7061634477114"
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
