# This workflow cleans up any leftover projects created by e2e runs.

name: E2E Project Cleanup

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */2 * * *" # Run every 2 hours

permissions:
  contents: read

jobs:
  cleanup:
    timeout-minutes: 30
    name: "Cleanup Test Projects"
    if: ${{ github.repository_owner == 'cloudflare' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Cleanup E2E test projects
        run: node -r esbuild-register tools/e2e/e2eCleanup.ts
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.TEST_CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.TEST_CLOUDFLARE_ACCOUNT_ID }}
