name: E2E

on:
  merge_group:
  pull_request:

permissions:
  contents: read

jobs:
  e2e-wrangler-test:
    name: ${{ format('Wrangler ({0})', matrix.description) }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.node }}-wrangler
      cancel-in-progress: true
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-13
            description: v20, macOS
            node: 20.19.1
          - os: windows-2022
            description: v20, Windows
            node: 20.19.1
            # we need to use an amd image to run the containers tests, since we build for linux/amd64
          - os: ubuntu-24.04
            description: v20, Linux
            node: 20.19.1

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            everything_but_markdown:
              - '!**/*.md'

      - name: Install Dependencies
        if: steps.changes.outputs.everything_but_markdown == 'true'
        uses: ./.github/actions/install-dependencies
        with:
          node-version: ${{ matrix.node }}
          turbo-api: ${{ secrets.TURBO_API }}
          turbo-team: ${{ secrets.TURBO_TEAM }}
          turbo-token: ${{ secrets.TURBO_TOKEN }}
          turbo-signature: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}

      - name: Bump package versions
        if: steps.changes.outputs.everything_but_markdown == 'true'
        run: node .github/changeset-version.js
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run Wrangler E2E tests
        if: steps.changes.outputs.everything_but_markdown == 'true'
        run: pnpm run test:e2e:wrangler
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.TEST_CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.TEST_CLOUDFLARE_ACCOUNT_ID }}
          HYPERDRIVE_DATABASE_URL: ${{ secrets.TEST_HYPERDRIVE_DATABASE_URL}}
          NODE_OPTIONS: "--max_old_space_size=8192"
          WRANGLER_LOG_PATH: ${{ runner.temp }}/wrangler-debug-logs/
          TEST_REPORT_PATH: ${{ runner.temp }}/test-report/index.html
          CI_OS: ${{ matrix.os }}

      - name: Run getPlatformProxy() remote-bindings e2e tests
        if: steps.changes.outputs.everything_but_markdown == 'true'
        run: pnpm run test:e2e -F @fixture/get-platform-proxy-remote-bindings
        env:
          TEST_CLOUDFLARE_API_TOKEN: ${{ secrets.TEST_CLOUDFLARE_API_TOKEN }}
          TEST_CLOUDFLARE_ACCOUNT_ID: ${{ secrets.TEST_CLOUDFLARE_ACCOUNT_ID }}
          NODE_OPTIONS: "--max_old_space_size=8192"
          CI_OS: ${{ matrix.os }}

      - name: Upload turbo logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: turbo-runs-${{ matrix.os }}-${{ matrix.node }}
          path: .turbo/runs

  e2e-vite-test:
    name: ${{ format('Vite ({0})', matrix.description) }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.node }}-vite
      cancel-in-progress: true
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - os: macos-13
            description: v20, macOS
            node: 20.19.1
          - os: windows-2022
            description: v20, Windows
            node: 20.19.1
            # we need to use an amd image to run the containers tests, since we build for linux/amd64
          - os: ubuntu-24.04
            description: v20, Linux
            node: 20.19.1
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        if: github.event.pull_request.head.repo.owner.login == 'cloudflare' || github.event_name == 'merge_group'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            everything_but_markdown:
              - '!**/*.md'

      - name: Install Dependencies
        if: (github.event.pull_request.head.repo.owner.login == 'cloudflare' || github.event_name == 'merge_group') && steps.changes.outputs.everything_but_markdown == 'true'
        uses: ./.github/actions/install-dependencies
        with:
          node-version: ${{ matrix.node }}
          turbo-api: ${{ secrets.TURBO_API }}
          turbo-team: ${{ secrets.TURBO_TEAM }}
          turbo-token: ${{ secrets.TURBO_TOKEN }}
          turbo-signature: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}

      - name: Bump package versions
        if: (github.event.pull_request.head.repo.owner.login == 'cloudflare' || github.event_name == 'merge_group') && steps.changes.outputs.everything_but_markdown == 'true'
        run: node .github/changeset-version.js
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run Vite E2E tests
        if: (github.event.pull_request.head.repo.owner.login == 'cloudflare' || github.event_name == 'merge_group') && steps.changes.outputs.everything_but_markdown == 'true'
        run: pnpm test:e2e -F @cloudflare/vite-plugin --log-order=stream
        timeout-minutes: 15
        env:
          NODE_DEBUG: "vite-plugin:test"
          # The AI tests need to connect to Cloudflare
          CLOUDFLARE_API_TOKEN: ${{ secrets.TEST_CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.TEST_CLOUDFLARE_ACCOUNT_ID }}
          NODE_OPTIONS: "--max_old_space_size=8192"
          CI_OS: ${{ matrix.os }}

      - name: Upload turbo logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: turbo-runs-${{ matrix.os }}-${{ matrix.node }}
          path: .turbo/runs
