name: OpenCode Issue Solver

on:
  workflow_dispatch:
    inputs:
      issue-number:
        description: "Issue number to attempt to fix"
        required: true
        type: number

jobs:
  assess-issue:
    runs-on: ubuntu-latest

    steps:
      - name: Exit
        run: |
          exit 1
