name: Prerelease

on:
  push:
    branches:
      - main
jobs:
  prerelease:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Build & Publish a beta release to NPM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 16.7
        uses: actions/setup-node@v3
        with:
          node-version: 16.7
          cache: "npm" # cache ~/.npm in case 'npm ci' needs to run

      - uses: actions/cache@v3
        id: node-modules-cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install NPM Dependencies
        if: steps.node-modules-cache.outputs.cache-hit != 'true' || runner.os == 'Windows'
        run: npm ci

      - name: Modify package.json version
        run: node .github/version-script.js

      - name: Check for errors
        run: npm run check

      - name: Publish Beta to NPM
        run: npm publish --tag beta
        env:
          NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
          # this is the "test/staging" key for sparrow analytics
          SPARROW_SOURCE_KEY: "5adf183f94b3436ba78d67f506965998"
        working-directory: packages/wrangler

      - name: Get Package Version
        run: echo "WRANGLER_VERSION=$(npm view wrangler@beta version)" >> $GITHUB_ENV
        working-directory: packages/wrangler

  publish_prerelease_registry:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Publish Prerelease Registry
    needs: prerelease
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 16.7
        uses: actions/setup-node@v3
        with:
          node-version: 16.7
          cache: "npm" # cache ~/.npm in case 'npm ci' needs to run

      - uses: actions/cache@v3
        id: node-modules-cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install NPM Dependencies
        if: steps.node-modules-cache.outputs.cache-hit != 'true' || runner.os == 'Windows'
        run: npm ci

      - name: Build wrangler
        run: npm run build

      - name: Build & Publish Prerelease Registry
        run: npm run publish
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        working-directory: packages/prerelease-registry
