name: Prerelease create-cloudflare

on:
  repository_dispatch:
    types: [pre-release-create-cloudflare]
  push:
    branches:
      - main

jobs:
  prerelease:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Build & Publish a beta release of create-cloudflare to NPM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 16.13
        uses: actions/setup-node@v3
        with:
          node-version: 16.13
          cache: "npm" # cache ~/.npm in case 'npm ci' needs to run

      - name: Install workerd Dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update
          sudo apt-get install -y libc++1

      - name: Install NPM Dependencies
        run: npm ci

      - name: Modify package.json version
        run: node .github/version-script.js create-cloudflare

      - name: Build packages
        run: npm run build
        env:
          NODE_ENV: "production"

      - name: Publish Beta to NPM
        run: npm publish -w create-cloudflare --tag beta
        env:
          NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
