name: Pull Request

on: pull_request

jobs:
  check:
    name: "Checks"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js 16.7
        uses: actions/setup-node@v3
        with:
          node-version: 16.7
          cache: "npm"

      - uses: actions/cache@v2
        id: eslint-cache
        with:
          path: |
            .eslintcache
            tsconfig.tsbuildinfo
          key: ${{ matrix.os }}-eslint-tsbuildinfo-${{ hashFiles('**/*.ts','**/*.js', 'package.json', 'tsconfig.json') }}

      - name: Install NPM Dependencies
        run: npm ci

      - name: Check for errors
        run: npm run check

  test:
    name: "Tests"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js 16.7
        uses: actions/setup-node@v3
        with:
          node-version: 16.7
          cache: "npm"

      - name: Install NPM Dependencies
        run: npm ci

      - name: Run builds
        run: npm run build

      - name: Run tests
        run: npm run test
