name: Publish Quick Edit

on:
  push:
    branches:
      - main
      - "quick-edit/**"

jobs:
  publish:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Build & Publish Quick Edit to Cloudflare Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm" # cache ~/.npm in case 'npm ci' needs to run

      - name: Install workerd Dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update
          sudo apt-get install -y libc++1

      - name: Install NPM Dependencies
        run: npm ci

      - name: Build Wrangler
        run: npm run build

      - name: Build Quick Edit
        run: cd packages/quick-edit && yarn setup && yarn build

      - name: Publish Quick Edit
        run: npm -w packages/quick-edit run publish
        env:
          CLOUDFLARE_ACCOUNT_ID: "e35fd947284363a46fd7061634477114"
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
