name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js 16.7
        uses: actions/setup-node@v2
        with:
          node-version: 16.7
          cache: "npm"

      - uses: actions/cache@v2
        id: node-modules-cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install NPM Dependencies
        run: npm install

      - name: Build
        run: npm run build
        working-directory: packages/wrangler

      - name: Check for errors
        run: npm run check

      - name: Create Version PR or Publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          version: node .github/changeset-version.js
          publish: npx changeset publish --tag beta
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}

      - name: Get Package Version
        run: echo "WRANGLER_VERSION=$(npm view wrangler@beta version)" >> $GITHUB_ENV
        working-directory: packages/wrangler
      # The Sourcemap rewrite script is necessary due to how Sentry handles Events, Sourcemaps and sourcemapping URLs, all of which need to reference each other.
      # The script will rewrite the sourcemap URLs to point to the correct location of the sourcemap and what the Event is being processed (with RewriteFrames)
      # In the Sentry project their is a concept of a filesystem which if they are all referencing root can be used to determine the correct location of the sourcemap.z
      # The unmodified released version of the sourcemap is done in the Create Version PR or Publish to NPM two steps above.
      - name: SourceMapping Rewrite & Sentry Upload
        run: node .github/sentry-upload.js
      - run: npx sentry-cli --auth-token ${{ secrets.SENTRY_AUTH_TOKEN }} releases --org ${{ secrets.SENTRY_ORG }} --project ${{ secrets.SENTRY_PROJECT}} files "wrangler@$WRANGLER_VERSION" upload-sourcemaps ./wrangler-dist --url-prefix /
        working-directory: packages/wrangler
