name: C3 Tests

on:
  pull_request:
    paths:
      - packages/create-cloudflare/**

env:
  node-version: 16.14

jobs:
  check:
    name: "Checks"
    strategy:
      matrix:
        # TODO: add back windows
        # os: [ubuntu-latest, windows-latest, macos-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Check Types
        run: npm run check:type -w create-cloudflare

      - name: Lint
        run: npm run check:lint -w create-cloudflare

      - name: Unit Tests
        run: npm run test:unit -w create-cloudflare

  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Cleanup E2E test projects
        run: npm run test:e2e:cleanup -w create-cloudflare
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.TEST_CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.TEST_CLOUDFLARE_ACCOUNT_ID }}

  e2e:
    needs: cleanup
    name: "E2E"
    strategy:
      matrix:
        # TODO: add back windows
        # os: [ubuntu-latest, windows-latest, macos-latest]
        os: [ubuntu-latest]
        # pm: [npm, yarn, pnpm]
        pm: [npm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: E2E Tests
        run: npm run test:e2e:${{matrix.pm}} -w create-cloudflare
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.TEST_CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.TEST_CLOUDFLARE_ACCOUNT_ID }}
