name: Tests, Linter & Typecheck

on:  
  push:
    branches:
      - main
  pull_request: 
    types: 
      - opened

jobs:  
  test:
    name: 'Tests & Typechecking: ${{ matrix.os }} (node@${{ matrix.node_version }})'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node_version: [16.7]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install NPM dependencies
        run: npm install
      
      - name: Run Type Checking & ESLint
        #TODO remove the --skipLibCheck flag at some point
        run: tsc --skipLibCheck && npm run lint

      - name: Test
        run: npm run test
        working-directory: packages/wrangler
