name: Test old node.js version

on: pull_request

jobs:
  check:
    name: "Checks"
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js v10
        uses: actions/setup-node@v3
        with:
          node-version: 10.24.1

      - name: Check for error message
        run: node packages/wrangler/src/__tests__/test-old-node-version.js
