name: Tests + Checks

on:
  push:
    branches:
      - main
  pull_request:

env:
  node-version: 16.18
jobs:
  add-to-project:
    if: github.ref != 'refs/heads/changeset-release/main'
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-add-pr
      cancel-in-progress: true
    timeout-minutes: 30
    name: Add PR to project
    runs-on: ubuntu-latest
    steps:
      - run: curl -X POST https://devprod-status-bot.devprod.workers.dev/pr-project/workers-sdk/${{ github.event.number }}

  check:
    if: github.ref != 'refs/heads/changeset-release/main'
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-checks
      cancel-in-progress: true

    name: "Checks"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 8.8.0

      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node-version }}
          cache: "pnpm"

      - name: "Configure turbo repo cache environment variables"
        run: |
          touch .env
          echo TURBO_API=${{ secrets.TURBO_API }} >> .env
          echo TURBO_TEAM=${{ secrets.TURBO_TEAM }} >> .env
          echo TURBO_TOKEN=${{ secrets.TURBO_TOKEN }} >> .env
          echo TURBO_REMOTE_CACHE_SIGNATURE_KEY=${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }} >> .env

      - name: Install NPM Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build
        env:
          CI_OS: ${{ runner.os }}

      - name: Check for errors
        run: pnpm run check
        env:
          NODE_OPTIONS: "--max_old_space_size=8192"

      - name: Check the changesets
        run: node -r esbuild-register tools/deployments/validate-changesets.ts

  test:
    if: github.ref != 'refs/heads/changeset-release/main'
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-test
      cancel-in-progress: true

    name: "Tests"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
        with:
          version: 8.8.0
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node-version }}
          cache: "pnpm"

      - name: "Configure turbo repo cache environment variables"
        run: |
          touch .env
          echo TURBO_API=${{ secrets.TURBO_API }} >> .env
          echo TURBO_TEAM=${{ secrets.TURBO_TEAM }} >> .env
          echo TURBO_TOKEN=${{ secrets.TURBO_TOKEN }} >> .env
          echo TURBO_REMOTE_CACHE_SIGNATURE_KEY=${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }} >> .env

      - name: Install NPM Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm run test:ci
        env:
          TMP_CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          TMP_CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          NODE_OPTIONS: "--max_old_space_size=8192"
          WRANGLER_LOG_PATH: ${{ runner.temp }}/wrangler-debug-logs/
          CI_OS: ${{ runner.os }}

      - name: Upload debug logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: e2e-test-debug-logs-${{ matrix.os }}-${{ matrix.node }}
          path: ${{ runner.temp }}/wrangler-debug-logs/

      - name: Run changeset version tests
        run: node .github/changeset-version.test.js
