name: Deploy Workers Shared Production

on:
  workflow_dispatch:

jobs:
  deploy-workers:
    name: Deploy Workers Shared Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Deploy
        run: pnpm deploy
        working-directory: packages/workers-shared
        env:
          WORKERS_DEPLOY_AND_CONFIG_CLOUDFLARE_API_TOKEN: ${{ secrets.WORKERS_DEPLOY_AND_CONFIG_CLOUDFLARE_API_TOKEN }}
